*
!*/
!*/*/
!*/*/*/
!*/*/*/*/
!*/*/*/*/*/
!*.java
!HAL/lib/*
# !HAL/ABMBoneMarrow/src/data_analysis.py
!ABMBoneMarrow/src/*
!ABMBoneMarrow/src/requirements.txt
ABMBoneMarrow/.DS_Store
ABMBoneMarrow/*.gif
ABMBoneMarrow/*.zip


# only allow scource files
#!HAL/**.java
#!LEARN_HERE/**.java
#!Testing/**.java
#!Examples/**
#!.gitignore
!HalColorSchemes.jar
!manual.pdf
!FrameworkPresentation.pdf
#.DS_Store
/out/production/HAL/FrameworkPresentation.pdf
/out/production/HAL/HalColorSchemes.jar
/out/production/HAL/HAL/lib/lwjgl.jar
/out/production/HAL/HAL/lib/lwjgl-assimp.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-assimp-sources.jar
/out/production/HAL/HAL/lib/lwjgl-glfw.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-glfw-sources.jar
/out/production/HAL/HAL/lib/lwjgl-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-openal.jar
/out/production/HAL/HAL/lib/lwjgl-openal-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-openal-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-openal-sources.jar
/out/production/HAL/HAL/lib/lwjgl-opengl.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-opengl-sources.jar
/out/production/HAL/HAL/lib/lwjgl-sources.jar
/out/production/HAL/HAL/lib/lwjgl-stb.jar
/out/production/HAL/HAL/lib/lwjgl-stb-javadoc.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-linux.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-linux-arm32.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-linux-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-macos.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-macos-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-windows.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-windows-arm64.jar
/out/production/HAL/HAL/lib/lwjgl-stb-natives-windows-x86.jar
/out/production/HAL/HAL/lib/lwjgl-stb-sources.jar
